<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>aae</string>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>AAE(中国)</string>
		<key>phoneNum</key>
		<string>400-6100-400</string>
		<key>type</key>
		<string>A</string>
		<key>web</key>
		<string>http://cn.aaeweb.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>anjiekuaidi</string>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>安捷快递</string>
		<key>phoneNum</key>
		<string>400-056-5656</string>
		<key>type</key>
		<string>A</string>
		<key>web</key>
		<string>http://www.anjelex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>baifudongfang</string>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>百福东方</string>
		<key>phoneNum</key>
		<string>010-84722177</string>
		<key>type</key>
		<string>B</string>
		<key>web</key>
		<string>http://www.ees.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bht</string>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>BHT</string>
		<key>phoneNum</key>
		<string>010-58633508</string>
		<key>type</key>
		<string>B</string>
		<key>web</key>
		<string>http://www.bht-exp.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cces</string>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>CCES(国通)</string>
		<key>phoneNum</key>
		<string>400-677-3777</string>
		<key>type</key>
		<string>C</string>
		<key>web</key>
		<string>http://www.cces.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>coe</string>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>中国东方（COE）</string>
		<key>phoneNum</key>
		<string>0755-83575000</string>
		<key>type</key>
		<string>C</string>
		<key>web</key>
		<string>http://www.coe.com.hk</string>
	</dict>
	<dict>
		<key>code</key>
		<string>datianwuliu</string>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>大田物流</string>
		<key>phoneNum</key>
		<string>010-59237777</string>
		<key>type</key>
		<string>D</string>
		<key>web</key>
		<string>http://www.dtw.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>debangwuliu</string>
		<key>id</key>
		<string>10</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>德邦物流</string>
		<key>phoneNum</key>
		<string>400-830-5555</string>
		<key>type</key>
		<string>D</string>
		<key>web</key>
		<string>http://www.deppon.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dsukuaidi</string>
		<key>id</key>
		<string>13</string>
		<key>name</key>
		<string>D速快递</string>
		<key>phoneNum</key>
		<string>0531-83165757</string>
		<key>type</key>
		<string>D</string>
		<key>web</key>
		<string>http://www.d-exp.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fedex</string>
		<key>id</key>
		<string>14</string>
		<key>name</key>
		<string>FedEx(国际)</string>
		<key>phoneNum</key>
		<string>400-886-1888</string>
		<key>type</key>
		<string>F</string>
		<key>web</key>
		<string>http://www.fedex.com/cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>feikangda</string>
		<key>id</key>
		<string>15</string>
		<key>name</key>
		<string>飞康达物流</string>
		<key>phoneNum</key>
		<string>010-84223376</string>
		<key>type</key>
		<string>F</string>
		<key>web</key>
		<string>http://www.fkd.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ganzhongnengda</string>
		<key>id</key>
		<string>18</string>
		<key>name</key>
		<string>港中能达</string>
		<key>phoneNum</key>
		<string>400-620-1111</string>
		<key>type</key>
		<string>G</string>
		<key>web</key>
		<string>http://www.nd56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huitongkuaidi</string>
		<key>id</key>
		<string>21</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>汇通快运</string>
		<key>phoneNum</key>
		<string>021-62963636</string>
		<key>type</key>
		<string>H</string>
		<key>web</key>
		<string>http://www.htky365.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hengluwuliu</string>
		<key>id</key>
		<string>22</string>
		<key>name</key>
		<string>恒路物流</string>
		<key>phoneNum</key>
		<string>400-182-6666</string>
		<key>type</key>
		<string>H</string>
		<key>web</key>
		<string>http://www.e-henglu.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huaxialongwuliu</string>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>华夏龙物流</string>
		<key>phoneNum</key>
		<string>400-716-6133</string>
		<key>type</key>
		<string>H</string>
		<key>web</key>
		<string>http://www.chinadragon56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jinguangsudikuaijian</string>
		<key>id</key>
		<string>25</string>
		<key>name</key>
		<string>京广速递</string>
		<key>phoneNum</key>
		<string>0769-88629888</string>
		<key>type</key>
		<string>J</string>
		<key>web</key>
		<string>http://www.szkke.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jixianda</string>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>急先达</string>
		<key>phoneNum</key>
		<string>400-694-1256</string>
		<key>type</key>
		<string>J</string>
		<key>web</key>
		<string>http://www.joust.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jiajiwuliu</string>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>佳吉物流</string>
		<key>phoneNum</key>
		<string>400-820-5566</string>
		<key>type</key>
		<string>J</string>
		<key>web</key>
		<string>http://www.jiaji.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jiayiwuliu</string>
		<key>id</key>
		<string>28</string>
		<key>name</key>
		<string>佳怡物流</string>
		<key>phoneNum</key>
		<string>400-631-9999</string>
		<key>type</key>
		<string>J</string>
		<key>web</key>
		<string>http://www.jiayi56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jiayunmeiwuliu</string>
		<key>id</key>
		<string>29</string>
		<key>name</key>
		<string>加运美</string>
		<key>phoneNum</key>
		<string>0769-85515555</string>
		<key>type</key>
		<string>J</string>
		<key>web</key>
		<string>http://www.tms56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jinyuekuaidi</string>
		<key>id</key>
		<string>30</string>
		<key>name</key>
		<string>晋越快递</string>
		<key>phoneNum</key>
		<string>400-638-9288</string>
		<key>type</key>
		<string>J</string>
		<key>web</key>
		<string>http://www.byondex.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuaijiesudi</string>
		<key>id</key>
		<string>31</string>
		<key>name</key>
		<string>快捷速递</string>
		<key>phoneNum</key>
		<string>400-830-4888</string>
		<key>type</key>
		<string>K</string>
		<key>web</key>
		<string>http://www.fastexpress.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lianhaowuliu</string>
		<key>id</key>
		<string>33</string>
		<key>name</key>
		<string>联昊通速递</string>
		<key>phoneNum</key>
		<string>0769-88620000</string>
		<key>type</key>
		<string>L</string>
		<key>web</key>
		<string>http://www.lhtex.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>longbanwuliu</string>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>龙邦物流</string>
		<key>phoneNum</key>
		<string>021-39283333</string>
		<key>type</key>
		<string>L</string>
		<key>web</key>
		<string>http://www.lbex.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lanbiaokuaidi</string>
		<key>id</key>
		<string>35</string>
		<key>name</key>
		<string>蓝镖快递</string>
		<key>phoneNum</key>
		<string>0769-82898999</string>
		<key>type</key>
		<string>L</string>
		<key>web</key>
		<string>http://www.bluedart.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lianbangkuaidi</string>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>FedEx联邦快递(中国)</string>
		<key>phoneNum</key>
		<string>400-889-1888</string>
		<key>type</key>
		<string>F</string>
		<key>web</key>
		<string>http://www.fedex.com/cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>minghangkuaidi</string>
		<key>id</key>
		<string>37</string>
		<key>name</key>
		<string>民航快递</string>
		<key>phoneNum</key>
		<string>400-817-4008</string>
		<key>type</key>
		<string>M</string>
		<key>web</key>
		<string>http://www.cae.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quanchenkuaidi</string>
		<key>id</key>
		<string>40</string>
		<key>name</key>
		<string>全晨快递</string>
		<key>phoneNum</key>
		<string>0769-82026703</string>
		<key>type</key>
		<string>Q</string>
		<key>web</key>
		<string>http://www.qckd.net</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quanritongkuaidi</string>
		<key>id</key>
		<string>42</string>
		<key>name</key>
		<string>全日通快递</string>
		<key>phoneNum</key>
		<string>020-86298999</string>
		<key>type</key>
		<string>Q</string>
		<key>web</key>
		<string>http://www.at-express.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quanyikuaidi</string>
		<key>id</key>
		<string>43</string>
		<key>name</key>
		<string>全一快递</string>
		<key>phoneNum</key>
		<string>021-52695816</string>
		<key>type</key>
		<string>Q</string>
		<key>web</key>
		<string>http://www.unitop-apex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quanfengkuaidi</string>
		<key>id</key>
		<string>44</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>全峰快递</string>
		<key>phoneNum</key>
		<string>400-100-0001</string>
		<key>type</key>
		<string>Q</string>
		<key>web</key>
		<string>http://www.qfkd.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>santaisudi</string>
		<key>id</key>
		<string>45</string>
		<key>name</key>
		<string>三态速递</string>
		<key>phoneNum</key>
		<string>400-881-8106</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sfcservice.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shenghuiwuliu</string>
		<key>id</key>
		<string>46</string>
		<key>name</key>
		<string>盛辉物流</string>
		<key>phoneNum</key>
		<string>400-822-2222</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.shenghui56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>suer</string>
		<key>id</key>
		<string>47</string>
		<key>name</key>
		<string>速尔快递</string>
		<key>phoneNum</key>
		<string>0769-89339656</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sure56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shengfengwuliu</string>
		<key>id</key>
		<string>48</string>
		<key>name</key>
		<string>盛丰物流</string>
		<key>phoneNum</key>
		<string>0591-88053353</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sfwl.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shangda</string>
		<key>id</key>
		<string>49</string>
		<key>name</key>
		<string>上大物流</string>
		<key>phoneNum</key>
		<string>400-021-9122</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sundapost.net</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tiandihuayu</string>
		<key>id</key>
		<string>50</string>
		<key>name</key>
		<string>天地华宇</string>
		<key>phoneNum</key>
		<string>400-808-6666</string>
		<key>type</key>
		<string>T</string>
		<key>web</key>
		<string>http://www.hoau.net</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tiantian</string>
		<key>id</key>
		<string>51</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>天天快递</string>
		<key>phoneNum</key>
		<string>400-820-8198</string>
		<key>type</key>
		<string>T</string>
		<key>web</key>
		<string>http://www.ttkdex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tnt</string>
		<key>id</key>
		<string>52</string>
		<key>name</key>
		<string>TNT（国际）</string>
		<key>phoneNum</key>
		<string>400-820-9868</string>
		<key>type</key>
		<string>T</string>
		<key>web</key>
		<string>http://www.tnt.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ups</string>
		<key>id</key>
		<string>53</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>UPS(中国)</string>
		<key>phoneNum</key>
		<string>400-820-8388</string>
		<key>type</key>
		<string>U</string>
		<key>web</key>
		<string>http://www.ups.com/cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xinbangwuliu</string>
		<key>id</key>
		<string>58</string>
		<key>name</key>
		<string>新邦物流</string>
		<key>phoneNum</key>
		<string>400-800-0222</string>
		<key>type</key>
		<string>X</string>
		<key>web</key>
		<string>http://www.xbwl.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xinfengwuliu</string>
		<key>id</key>
		<string>59</string>
		<key>name</key>
		<string>信丰物流</string>
		<key>phoneNum</key>
		<string>0769-81518333</string>
		<key>type</key>
		<string>X</string>
		<key>web</key>
		<string>http://www.xf-express.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yafengsudi</string>
		<key>id</key>
		<string>62</string>
		<key>name</key>
		<string>亚风速递</string>
		<key>phoneNum</key>
		<string>400-628-0018</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.broad-asia.net</string>
	</dict>
	<dict>
		<key>code</key>
		<string>youshuwuliu</string>
		<key>id</key>
		<string>64</string>
		<key>name</key>
		<string>优速物流</string>
		<key>phoneNum</key>
		<string>0769-82880008</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.uc56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuanchengwuliu</string>
		<key>id</key>
		<string>65</string>
		<key>name</key>
		<string>远成物流</string>
		<key>phoneNum</key>
		<string>400-820-1646</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.ycgwl.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuantong</string>
		<key>id</key>
		<string>66</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>圆通速递</string>
		<key>phoneNum</key>
		<string>021-69777888</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.yto.net.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuanzhijiecheng</string>
		<key>id</key>
		<string>68</string>
		<key>name</key>
		<string>元智捷诚</string>
		<key>phoneNum</key>
		<string>0532-89657811</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.yjkd.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuefengwuliu</string>
		<key>id</key>
		<string>69</string>
		<key>name</key>
		<string>越丰物流</string>
		<key>phoneNum</key>
		<string>0852-23909969</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.yfexpress.com.hk</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yunda</string>
		<key>id</key>
		<string>70</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>韵达快运</string>
		<key>phoneNum</key>
		<string>400-821-6789</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.yundaex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuanfeihangwuliu</string>
		<key>id</key>
		<string>72</string>
		<key>name</key>
		<string>原飞航</string>
		<key>phoneNum</key>
		<string>0755-29778899</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.yfhex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuntongkuaidi</string>
		<key>id</key>
		<string>73</string>
		<key>name</key>
		<string>运通中港</string>
		<key>phoneNum</key>
		<string>0769-81156999</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.ytkd168.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhaijisong</string>
		<key>id</key>
		<string>74</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>宅急送</string>
		<key>phoneNum</key>
		<string>400-678-9000</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.zjs.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongtiewuliu</string>
		<key>id</key>
		<string>75</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>中铁快运</string>
		<key>phoneNum</key>
		<string>95572</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.cre.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongtong</string>
		<key>id</key>
		<string>76</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>中通速递</string>
		<key>phoneNum</key>
		<string>021-39777777</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.zto.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongyouwuliu</string>
		<key>id</key>
		<string>77</string>
		<key>name</key>
		<string>中邮物流</string>
		<key>phoneNum</key>
		<string>11185</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.cnpl.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shentong</string>
		<key>id</key>
		<string>78</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>申通快递</string>
		<key>phoneNum</key>
		<string>400-889-5543</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sto.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shunfeng</string>
		<key>id</key>
		<string>79</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>顺丰速运</string>
		<key>phoneNum</key>
		<string>4008-111-111</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sf-express.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shentong</string>
		<key>id</key>
		<string>80</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>申通E物流</string>
		<key>phoneNum</key>
		<string>400-889-5543</string>
		<key>type</key>
		<string>S</string>
		<key>web</key>
		<string>http://www.sto.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ems</string>
		<key>id</key>
		<string>81</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>EMS(中国)</string>
		<key>phoneNum</key>
		<string>11183</string>
		<key>type</key>
		<string>E</string>
		<key>web</key>
		<string>http://www.ems.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>youzhengguonei</string>
		<key>id</key>
		<string>82</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>邮政国内邮件（包裹/平邮/挂号信）</string>
		<key>phoneNum</key>
		<string>11185</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://yjcx.chinapost.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>youzhengguoji</string>
		<key>id</key>
		<string>83</string>
		<key>name</key>
		<string>邮政国际邮件</string>
		<key>phoneNum</key>
		<string>11185</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://intmail.183.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>emsguoji</string>
		<key>id</key>
		<string>84</string>
		<key>name</key>
		<string>EMS(国际)</string>
		<key>phoneNum</key>
		<string>11183</string>
		<key>type</key>
		<string>E</string>
		<key>web</key>
		<string>http://goo.gl/yF66F</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rufengda</string>
		<key>id</key>
		<string>85</string>
		<key>isUsually</key>
		<true/>
		<key>name</key>
		<string>凡客如风达</string>
		<key>phoneNum</key>
		<string>400-600-6888</string>
		<key>type</key>
		<string>F</string>
		<key>web</key>
		<string>http://www.vancl.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>upsen</string>
		<key>id</key>
		<string>86</string>
		<key>name</key>
		<string>UPS(国际)</string>
		<key>phoneNum</key>
		<string>800-820-8388</string>
		<key>type</key>
		<string>U</string>
		<key>web</key>
		<string>http://www.ups.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dhl</string>
		<key>id</key>
		<string>87</string>
		<key>name</key>
		<string>DHL(中国)</string>
		<key>phoneNum</key>
		<string>800-810-8000</string>
		<key>type</key>
		<string>D</string>
		<key>web</key>
		<string>http://www.cn.dhl.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dhlen</string>
		<key>id</key>
		<string>88</string>
		<key>name</key>
		<string>DHL(国际)</string>
		<key>phoneNum</key>
		<string>800-810-8000</string>
		<key>type</key>
		<string>D</string>
		<key>web</key>
		<string>http://www.dhl.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fedexus</string>
		<key>id</key>
		<string>89</string>
		<key>name</key>
		<string>FedEx(美国)</string>
		<key>phoneNum</key>
		<string>800-463-3339</string>
		<key>type</key>
		<string>F</string>
		<key>web</key>
		<string>http://www.fedex.com/us/</string>
	</dict>
	<dict>
		<key>code</key>
		<string>neweggozzo</string>
		<key>id</key>
		<string>90</string>
		<key>name</key>
		<string>新蛋物流</string>
		<key>phoneNum</key>
		<string>400-820-4400</string>
		<key>type</key>
		<string>X</string>
		<key>web</key>
		<string>http://www.ozzo.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>usps</string>
		<key>id</key>
		<string>91</string>
		<key>name</key>
		<string>USPS</string>
		<key>phoneNum</key>
		<string>800-275-8777</string>
		<key>type</key>
		<string>U</string>
		<key>web</key>
		<string>https://zh.usps.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongxinda</string>
		<key>id</key>
		<string>92</string>
		<key>name</key>
		<string>忠信达</string>
		<key>phoneNum</key>
		<string>400-646-6665</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.zhongxind.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongtianwanyun</string>
		<key>id</key>
		<string>93</string>
		<key>name</key>
		<string>中天万运</string>
		<key>phoneNum</key>
		<string>400-005-6001</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.wanyun56.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongsukuaidi</string>
		<key>id</key>
		<string>94</string>
		<key>name</key>
		<string>中速快递</string>
		<key>phoneNum</key>
		<string>11183</string>
		<key>type</key>
		<string>Z</string>
		<key>web</key>
		<string>http://www.ems.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>youbijia</string>
		<key>id</key>
		<string>95</string>
		<key>name</key>
		<string>邮必佳</string>
		<key>phoneNum</key>
		<string>400-687-8123</string>
		<key>type</key>
		<string>Y</string>
		<key>web</key>
		<string>http://www.ubjia.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xiyoutekuaidi</string>
		<key>id</key>
		<string>96</string>
		<key>name</key>
		<string>希优特</string>
		<key>phoneNum</key>
		<string>400-840-0365</string>
		<key>type</key>
		<string>X</string>
		<key>web</key>
		<string>http://www.cod365.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ocs</string>
		<key>id</key>
		<string>97</string>
		<key>name</key>
		<string>OCS</string>
		<key>phoneNum</key>
		<string>400-118-8588</string>
		<key>type</key>
		<string>O</string>
		<key>web</key>
		<string>http://www.ocschina.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ontrac</string>
		<key>id</key>
		<string>98</string>
		<key>name</key>
		<string>OnTrac</string>
		<key>phoneNum</key>
		<string>800-334-5000</string>
		<key>type</key>
		<string>O</string>
		<key>web</key>
		<string>http://www.ontrac.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>auspost</string>
		<key>id</key>
		<string>100</string>
		<key>name</key>
		<string>澳大利亚邮政</string>
		<key>phoneNum</key>
		<string>00613-88479045</string>
		<key>type</key>
		<string>A</string>
		<key>web</key>
		<string>http://auspost.com.au</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bangsongwuliu</string>
		<key>id</key>
		<string>101</string>
		<key>name</key>
		<string>邦送物流</string>
		<key>phoneNum</key>
		<string>021-20965696</string>
		<key>type</key>
		<string>B</string>
		<key>web</key>
		<string>http://express.banggo.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>chuanxiwuliu</string>
		<key>id</key>
		<string>102</string>
		<key>name</key>
		<string>传喜物流</string>
		<key>phoneNum</key>
		<string>400-777-5656</string>
		<key>type</key>
		<string>C</string>
		<key>web</key>
		<string>http://cxcod.netcl.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>city100</string>
		<key>id</key>
		<string>103</string>
		<key>name</key>
		<string>城市100</string>
		<key>phoneNum</key>
		<string>010-52932760</string>
		<key>type</key>
		<string>C</string>
		<key>web</key>
		<string>http://www.bjcs100.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ganzhongnengda</string>
		<key>id</key>
		<string>104</string>
		<key>name</key>
		<string>能达速递</string>
		<key>phoneNum</key>
		<string>400-620-1111</string>
		<key>type</key>
		<string>N</string>
		<key>web</key>
		<string>http://www.nd56.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rufengda</string>
		<key>id</key>
		<string>105</string>
		<key>name</key>
		<string>如风达快递</string>
		<key>phoneNum</key>
		<string>400-600-6888</string>
		<key>type</key>
		<string>R</string>
		<key>web</key>
		<string>http://www.vancl.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>disifang</string>
		<key>id</key>
		<string>106</string>
		<key>name</key>
		<string>递四方</string>
		<key>phoneNum</key>
		<string>0755-33936114</string>
		<key>type</key>
		<string>D</string>
		<key>web</key>
		<string>http://www.4px.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>disifang</string>
		<key>id</key>
		<string>107</string>
		<key>name</key>
		<string>E邮宝</string>
		<key>phoneNum</key>
		<string>11183</string>
		<key>type</key>
		<string>E</string>
		<key>web</key>
		<string>http://www.ems.com.cn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>feibaokuaidi</string>
		<key>id</key>
		<string>108</string>
		<key>name</key>
		<string>飞豹快递</string>
		<key>phoneNum</key>
		<string>400-650-1118</string>
		<key>type</key>
		<string>F</string>
		<key>web</key>
		<string>http://www.ztky.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>guotongkuaidi</string>
		<key>id</key>
		<string>109</string>
		<key>name</key>
		<string>国通快递</string>
		<key>phoneNum</key>
		<string>400-677-3777</string>
		<key>type</key>
		<string>G</string>
		<key>web</key>
		<string>http://www.gto365.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gongsuda</string>
		<key>id</key>
		<string>110</string>
		<key>name</key>
		<string>共速达</string>
		<key>phoneNum</key>
		<string>400-111-0005</string>
		<key>type</key>
		<string>G</string>
		<key>web</key>
		<string>http://www.gongsuda.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huaqikuaiyun</string>
		<key>id</key>
		<string>111</string>
		<key>name</key>
		<string>华企快运</string>
		<key>phoneNum</key>
		<string>400-626-2356</string>
		<key>type</key>
		<string>H</string>
		<key>web</key>
		<string>http://www.hqky.co</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huaqikuaiyun</string>
		<key>id</key>
		<string>112</string>
		<key>name</key>
		<string>康力物流</string>
		<key>phoneNum</key>
		<string>400-156-5156</string>
		<key>type</key>
		<string>K</string>
		<key>web</key>
		<string>http://www.kangliex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuayue</string>
		<key>id</key>
		<string>113</string>
		<key>name</key>
		<string>跨越物流</string>
		<key>phoneNum</key>
		<string>400-809-8098</string>
		<key>type</key>
		<string>K</string>
		<key>web</key>
		<string>http://www.ky-express.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>meiguokuaidi</string>
		<key>id</key>
		<string>114</string>
		<key>name</key>
		<string>美国快递</string>
		<key>phoneNum</key>
		<string>400-881-6830</string>
		<key>type</key>
		<string>M</string>
		<key>web</key>
		<string>http://www.us-ex.com</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mingliangwuliu</string>
		<key>id</key>
		<string>115</string>
		<key>name</key>
		<string>明亮物流</string>
		<key>phoneNum</key>
		<string>400-035-6568</string>
		<key>type</key>
		<string>M</string>
		<key>web</key>
		<string>http://www.szml56.com</string>
	</dict>
</array>
</plist>
